*,
*:after,
*:before {
  box-sizing: border-box;
}

* {
  margin: 0px;
  font-family: 'Lato', sans-serif;
}

h1 {
  display: block;
  width: 100%;
}

h2 {
  font-size: 18px;
  font-weight: 400;
}

header {
  background-color: #2b2b2b;
  color: #F7FFF7;
  height: 150px;
  margin-top: -160px;
  position: fixed;
  width: 100%;
  z-index: 2;
}
header ul li img {
  height: 23px;
  margin: -3px 0px 0px 5px;
}
header h1, header img {
  float: right;
  font-size: 18px;
}
header p {
  float: right;
  font-size: 18px;
  margin: 15px 4px 0px 15px;
}
header img {
  height: 12px;
}

img {
  height: 60px;
}

li {
  display: inline-block;
  float: left;
  font-size: 110%;
  font-weight: 300;
  margin: 53px 10px 10px 10px;
}

.article__card-body {
  margin-left: 15px;
}

.cards {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-template-rows: 1fr 1fr;
  justify-items: center;
}

.down-arrow {
  margin: 21px 35px 0px 5px;
}

.h2__athlete-name {
  margin-top: 10px;
}

.h2__best-event {
  font-size: 16px;
  margin-bottom: 15px;
}

.header__card img{
  display: inline-block;
  float: left;
  margin: 15px;
  text-align: center;
}

.header__card-p {
  margin-right: 15px;
}

.header__card p {
  clear: right;
  color: #f7fff7;
  float:right;
}

.header__card-1:hover {
  background-image: url(images/haile.png);
  opacity: 1;
}

.header__card-2:hover {
  background-image: url(images/bekele.jpg);
  opacity: 1;
}

.header__card-3:hover {
  background-image: url(images/el-g.jpg);
  opacity: 1;
}

.header__card-4:hover {
  background-image: url(images/joan.jpg);
  opacity: 1;
}

.header__card-5:hover {
  background-image: url(images/genzebe.jpg);
  opacity: 1;
}

.header__card-6:hover {
  background-image: url(images/zatopek.jpg);
  opacity: 1;
}

.header__card-7:hover {
  background-image: url(images/tirunesh.jpg);
  opacity: 1;
}

.header__card-8:hover {
  background-image: url(images/paula.jpg);
  opacity: 1;
}

.header__card-1 {
  background-image: url(images/haileblack.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 145px;
  opacity: .5;
  width: 100%;
}

.header__card-2 {
  background-image: url(images/bekeleblack.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 145px;
  opacity: .5;
  width: 100%;
}

.header__card-3 {
  background-image: url(images/el-gblack.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 145px;
  opacity: .5;
  width: 100%;
}

.header__card-4 {
  background-image: url(images/joanblack.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 145px;
  opacity: .5;
  width: 100%;
}

.header__card-5 {
  background-image: url(images/genzebeblack.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 145px;
  opacity: .5;
  width: 100%;
}

.header__card-6 {
  background-image: url(images/zatopekblack.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 145px;
  opacity: .5;
  width: 100%;
}

.header__card-7 {
  background-image: url(images/tiruneshblack.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 145px;
  opacity: .5;
  width: 100%;
}

.header__card-8 {
  background-image: url(images/paulablack.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 145px;
  opacity: .5;
  width: 100%;
}

.hidden-menu {
  display: none;
}

.individual__cards {
  border: 2px solid #63595C;
  box-shadow: 3px 2px 15px -3px #000;
  height: 400px;
  margin: 10px;
  width: 280px;

}

.logo {
 clear: both;
 display: inline-block;
 height: 60px;
 margin: 30px 36px 0px 0px;
}

.p__body-link {
  background-color: #f1f1f1;
  height: 50px;
  margin-bottom: 15px;
  margin-top: 15px;
  padding-left: 7px;
  padding-top: 15px;
  width: 90%;
}

.p__country {
  font-size: 12px;
}
.p__medal-count {
  color: #d32f2f;
  font-size: 35px;
}

.p__personal-record {
  font-weight: 300;
}

.section__main-section {
  margin: 160px auto 0px auto;
  width: 95%;
}

.user {
  height: 25px;
  margin-top: 13px;
}

.world-records {
  font-size: 200%;
  font-weight: 300;
  margin: 5px 22px 0px 0px;
}

.world {
  margin-right: 21px;
  margin-top: 10px;
}

/*/////////////////////////////////////////////////////////
FIRST MEDIA BREAK
////////////////////////////////////////////////////////*/
@media screen and (max-width: 650px) {

  li {
    display: inline-block;
    font-size: 110%;
    font-weight: 300;
    margin: 27px 10px -4px 10px;
  }
  
  ul {
    display: flex;
    flex-direction: column;
    float: left;
  }

  .athletes-li {
    margin-top: -18px;
  }
}

/*/////////////////////////////////////////////////////////
SECOND MEDIA BREAK
////////////////////////////////////////////////////////*/
@media screen and (max-width: 435px) {


  h1 {
    display: block;
    margin-top: -30px;
    text-align: center;
    width: 100%;
  }

  header {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 110px;
    justify-content: center;
    margin-top: -130px;
    padding: 20px;
  }

  ul {
    display: none;
  }

  .article__card-body {
    display: none;
  }

  .cards {
    display: flex;
    flex-direction: column;
  }

  .down-arrow {
    display: inline-block;
    margin: 21px 0px 0px 5px;
    width: 16px;
  }

  .header__card {
    background-size: cover;
    height: 142px;
  }

  .hidden-menu {
    clear: both;
    display: block;
  }

  .individual__cards {
    height: 145px;
    margin: 0px 0px 5px 0px;
    width: 100%;
  }

  .logo {
    display: none;
  }

  .mobile-menu {
    height: 22px;
    margin-top: 14px;
  }

  .user {
    display: inline-block;
    width: 25px;
  }

  .user-info {
    margin-bottom: 10px;
  }

}

/*/////////////////////////////////////////////////////////
THIRD MEDIA BREAK
////////////////////////////////////////////////////////*/
@media screen and (max-width: 225px) {

  header {
    padding: 10px;
  }

  header p {
    margin: 15px 4px 0px 6px;
    font-size: 15px;
  }

  .down-arrow {
    display: none;
  }

  .header__card img {
    display: none;
  }

  .header__card {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .mobile-menu {
    height: 17px;
    margin-top: 15px;
  }

  .user {
    height: 17px;
    margin-top: 14px;
    width: 17px;
  }

}